:root{
	/* colors */
	--light-coral: #FF7477;
	--pastel-pink: #E69597;
	--silver-pink: #CEB5B7;
	--powder-blue: #B5D6D6;
	--celeste: #9CF6F6;
	--olive: #3D9970;
	--text-black: #1F1F1F;

	--text-white: #FAFAFA;
	--bg-black: #212121;
/*	--overlay: rgba(255, 255, 255, 0.01); */
	--overlay: #1F1F1F;

	background-color: var(--bg-black);
	background-image: url(img/bg.svg);
	font-family: "Noto Sans", sans-serif;
	color: var(--text-white);
	line-height: 2;
}
.rotateX-3d{
	transform: rotateX(360deg);
	transition: 1s;
}
.fade-in{
	animation: fadeIn 1s;
	-webkit-animation: fadeIn 1s;
	-moz-animation: fadeIn 1s;
	-o-animation: fadeIn 1s;
	-ms-animation: fadeIn 1s;
}
@keyframes fadeIn{
	0% {opacity: 0;}
	100% {opacity: 1;}
}
.fade-in-out-fast{
	animation: fadeInOutFast 1s;
	-webkit-animation: fadeInOutFast 1s;
	-moz-animation: fadeInOutFast 1s;
	-o-animation: fadeInOutFast 1s;
	-ms-animation: fadeInOutFast 1s;
	animation-fill-mode: forwards;
}
@keyframes fadeInOutFast{
	0% {opacity: 0;}
	50% {opacity: 1;}
	100% {opacity: 0;}
}
header{
	font-family: "Niconne";
	text-align: center;
	background-color: var(--bg-black);
}
a{
	text-decoration: none;
	color: var(--text-white);
}
#menu-window{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: "Niconne";
	padding: 20px;
}
#settings-window{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-family: "Niconne";
	padding: 20px;
}
#settings-container{
	display: flex;
	flex-direction: column;
}
.colors-container{
	display: flex;
	flex-direction: row;
}
.pad10{
	padding: 10px;
}
.round{
	border-radius: 999px;
}
.none-border{
	border: none;
}
.none-bg{
	background-color: transparent;
}
#reset-colors:active{
	transform: scale(1.5);
}
#colorpicker1:hover{
	background-color: white;
	transform: scale(1.5);
}
#colorpicker2:hover{
	background-color: white;
	transform: scale(1.5);
}
#colorpicker1:active{
	transform: scale(1.5);
}
#colorpicker2:active{
	transform: scale(1.5);
}
.button-bg{
	background-color: #121212;
}
.custom-padding{
	padding: 20px;
}
.menu-button{
	margin: 10px;
}
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	background-color: var(--overlay);
;
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.round-edge{
	border-radius: 10px;
}
.ab{ border: dashed 1px white;}
#game-window{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
}
.overlay {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: auto;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.5);
}
.info-pane{
	display: flex;
	width: 600px;
	flex-direction: column;
	align-items: stretch;
}
.buttons{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}
.buttons:focus{
	outline: none;
}
button{
	background-color: transparent;
	font-family: "Niconne";
	color: white;
	border: none;
}
button:hover{
	transform: scale(1.2);
}
#help-popup{
	z-index: 10;
	position: absolute;
	display: flex;
	flex-direction: column;
	top: min(10vw,10vh);
	left: min(10vw,10vh);
	width: min(80vw,80vh);
}
li {
  float: left;
	padding: 10px;
	list-style-type:none;
}
.reduced-size{
	width: 50px;
	height: 50px;
}
#next-puzzle{
	margin-left: 5px;
}
.exit-to-menu{
	margin-right: 5px;
	background-color: transparent;
}
#pieces-container{
	display: flex;
	flex-direction: row;
	width: auto;
	margin: 10px;
	justify-content: space-around;
	align-items: stretch;
}
#solution-moves{
	margin: 10px;
}
.resizable {
  display: inline-block;
  resize: both;
  overflow: hidden;
  line-height: 0;
}
#secondary-container{
	position: relative;
}
.temp-img-overlay{
	position: absolute;
	top: 0;
	left: 0;
}
.temp-img{
	max-width: min(50vw,50vh);
	max-height: min(50vw,50vh);
}
#chessboard{
	display: grid;
	margin: 10px;
	--size: max(400px, min(50vw, 50vh));	
	min-width: var(--size);
	min-height: var(--size);
	width: 400px;
	height: 400px;
	background-color: var(--overlay);
	grid-template-columns: auto auto auto auto auto auto auto auto;
}

@media only screen and (max-width: 850px){
	#chessboard{
		--size: min(90vh, 90vw);	
		order: -3;
		width: var(--size);
		height: var(--size);
	}
	#game-window{
		display: flex;
		flex-direction: column-reverse;
		justify-content: flex-start;
		align-items: center;
	}
	.reduced-size{
		width: 50px;
		height: 50px;
	}
	.info-pane{
		display: flex;
		width: 100%;
		flex-direction: column;
		align-items: stretch;
	}
	.buttons{
		order: -2;
		margin: 10px;
	}
	#pieces-container{
		display: flex;
		flex-direction: column;
		width: auto;
		height: auto;
		justify-content: center;
	}
	#solution-moves{
		order: +1;
		margin: 10px;
	}
}
