:root{
	/* colors */
	--light-coral: #FF7477;
	--pastel-pink: #E69597;
	--silver-pink: #CEB5B7;
	--powder-blue: #B5D6D6;
	--celeste: #9CF6F6;
	--olive: #3D9970;
	--text-black: #1F1F1F;

	--text-white: #FAFAFA;
	--bg-black: #212121;
	--overlay: rgba(255, 255, 255, 0.01);

	background-color: var(--bg-black);
	font-family: "Noto Sans", sans-serif;
	color: var(--text-white);
	line-height: 2;
}
header{
	text-align: center;
}
a{
	text-decoration: none;
	color: var(--text-white);
}
#menu-window{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 20px;
}
.menu-button{
	margin: 10px;
}
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	background-color: var(--overlay);
;
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.round-edge{
	border-radius: 10px;
}
.ab{ border: dashed 1px white;}
#game-window{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}
.overlay {
    z-index: 1;
    height: 100%;
    width: 100%;
    position: fixed;
    overflow: auto;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.5);
}
.info-pane{
	margin: auto;
}
.buttons{
	display: flex;
	flex-direction: row;
	justify-content: center;
}
#next-puzzle{
	margin-left: 5px;
}
#exit-to-menu{
	margin-right: 5px;
}
#pieces-container{
	display: flex;
	flex-direction: row;
	width: 500px;
	margin: 10px;
	justify-content: center;
	align-items: center;
}
#chessboard{
	display: grid;
	margin: 10px;
	padding: 20px;
	--size: min(400px, 50vw, 50vh);	
	width: var(--size);
	height: var(--size);
	width: 400px;
	height: 400px;
	background-color: var(--overlay);
	grid-template-columns: auto auto auto auto auto auto auto auto;
}

@media (max-width: 850px){
	#chessboard{
		padding: 5px;
		--size: min(90vh, 90vw);	
		width: var(--size);
		height: var(--size);
	}
	#game-window{
		display: flex;
		flex-direction: column;
	}
	#pieces-container{
		display: flex;
		flex-direction: column;
		width: auto;
		height: auto;
		justify-content: center;
		align-items: center;
	}
}
